{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
    <div class="container-fluid">
        <p class="main-title">Sound Waves</p>
        <div class="main-page">
            <p class="secondary-title">Welcome</p>
            <div class="top">
                <p class="intro margin-fix">
                    The system is a remote practical music learning environment, which provides possibilities to train your voice,
                    understanding of the rhythm of melodies.
                    This website will support people with disabilities allowing blind people to experience music through vibrations, blind people will be able to train their voice with vibration support as a response if they are doing good or bad.
                    Music selection will be provided by "Teachers/Directors" which are registered users, that upload sound files and make compositions for non-registered users to train with
                </p>
                <button class="play">Try it out!</button>
            </div>
        </div>
    </div>
{% endblock %}
