{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
    <div class="container-fluid">
        <p class="main-title">Sound Waves</p>
        <div class="main-page">
            <p class="secondary-title">Welcome</p>
            <div class="top">
                <p class="intro margin-fix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores error est facilis
                    fugiat, inventore ipsam libero molestiae molestias neque odio, quasi quibusdam quo reprehenderit
                    velit vero voluptatum. Alias, repellendus?
                </p>
                <button class="play">Try it out!</button>
            </div>
        </div>
    </div>
{% endblock %}
