{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="container-fluid center-level">
    <p class="main-title">Sound Waves</p>
    <div class="main">
        <a class="level top-level" href="{{ path("index_sound_packages", {level: 0, category_id: category.id}) }}">Beginner</a>
        <a class="level" href="{{ path("index_sound_packages", {level: 1, category_id: category.id}) }}">Intermediate</a>
        <a class="level" href="{{ path("index_sound_packages", {level: 2, category_id: category.id}) }}">Difficult</a>
    </div>
</div>
{% endblock %}
