{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <a href="{{ path("index_sound_packages", {level: 0, category_id: category.id}) }}">Level 0</a>
    <a href="{{ path("index_sound_packages", {level: 1, category_id: category.id}) }}">Level 1</a>
    <a href="{{ path("index_sound_packages", {level: 2, category_id: category.id}) }}">Level 2</a>

{% endblock %}
