<form method="post" action="{{ path('sound_file_delete', {'id': sound_file.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sound_file.id) }}">
    <button class="btn">Delete</button>
</form>
