{% extends 'base.html.twig' %}

{% block title %}Hello SoundPackageController!{% endblock %}

{% block body %}
    <div class="container-fluid center">
        <p class="main-title">Sound Waves</p>
        <div class="margin-top">
            <ul>
                {% for soundPackage in soundPackages %}
                    <li class="item separate">
                        <a href="{{ path("view_sound_packages", {id: soundPackage.id}) }}">
                            {{ soundPackage.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
